*{
    margin: 0;
    font-family: "Open Sans", sans-serif;
 }
 /* header and navigation style */
 .btn-primary{
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    padding: 18px 35px;
    border-radius: 5px;
    background-color: red;
    border: 0;
 }
 .header{
    background-color: rgb(123, 73, 11);
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
 }
 nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
 }
 .nav_title{
    font-weight: 500;
    font-size: 45px;
 }
 nav ul{
    display: flex;
    align-items: center;
 }
 nav li{
    list-style: none;
    margin-left: 50px;
 }
 .text-primary{
    color: red;
   
 }
 /* bannar style */
 .bannar{
    display: flex;
    align-items: center;
    margin: 0 200px;
 }
 .bannar-title{
    font-weight: 700;
    font-size: 85px;
 }
 .bannar-sub-title{
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 45px;
 }
 .bannar-description{
    color: grey;
    font-size: 18px;
    margin: 30px;
 }
 /* main section */
 main{
    max-width: 1140px;
    margin: 0 auto;
 }
 /* about section styles */
 .about{
   margin-top: 130px;
   background: #e3d3d3;
   border-radius: 10px;
   padding: 130px 150px;
   text-align: center;
 }
 .section-title{

    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 50px;
 }
 .section-description{
    color: rgba(75, 78, 78, 0.427);
    font-size: 18px;
    margin-bottom: 30px;
 }
 .about-info-container{
    display: flex;
    justify-content: space-around ;
 }
 .about .info-title{
    font-size: 20px;
    color: 20px;
    color: #757575;
 }
.info-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
/* what i do styles */
.what-i-do{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgb(157, 102, 25);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-description{
    color: #757575;
}
/* resume styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;

    
}
.resume .sub-title{
    color:#767272 ;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
    color: #767272;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background: pink;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;

}
.contact input[type="text"],input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 20px;
} 
.contact a{
    text-decoration: none;
}